.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/*.log

tests/**/coverage/
tests/e2e/reports
selenium-debug.log
**/node_modules/
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.local
package-lock.json
yarn.lock
syncSrc.sh

dist/
lib/
doc-site/

platforms/vue2/types
platforms/vue3/types
platforms/react/types
platforms/svelte/types
/platforms/svelte/types/
/platforms/web-components/types/
/platforms/vue2/style.css
/platforms/vue3/style.css
/platforms/react/style.css
/platforms/svelte/style.css
platforms/vue2/LICENSE
platforms/vue3/LICENSE
platforms/react/LICENSE
platforms/svelte/LICENSE
platforms/web-components/LICENSE
platforms/vue2/relation-graph.*
platforms/vue3/relation-graph.*
platforms/react/relation-graph.*
platforms/svelte/relation-graph.*
platforms/web-components/relation-graph.*
packages/platforms/vue3/dd/
packages/platforms/vue2/dd/
packages/platforms/react/dd/
packages/svelte/react/dd/

.npmrc
/packages/platforms/svelte/dd/
